*.o
*~
junk
fource
\#*
.\#*
*.so
image
*.fi
*.a
*.res\n
*\#\n
4k
a.out 
t.S
t.o 
fourk2 
stripper
*.gz
*.paq8l
tiny
fourk-debug
conv
fourk2.tga
*.tga
*.png
4k*
fourk
fourk-ref
fourk2
*.4ki
*.cm*
*.bak
